<div *ngIf="show">
  <form (ngSubmit)="onSubmit()" class="formulario-box">
    <div class="input-text">
      <h3>FORMULÁRIO</h3>
      <input
        type="text"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
        placeholder="Nome"
      />
      <input
        type="text"
        id="cidade"
        [(ngModel)]="cidade"
        name="cidade"
        placeholder="Cidade"
      />
      <input
        type="text"
        id="estado"
        [(ngModel)]="estado"
        name="estado"
        placeholder="Estado"
      />

      <button type="submit" class="btn btn-danger">Cadastrar</button>
      <button type="button" class="btn btn-warning" (click)="closeFormulario()">
        Fechar Formulário
      </button>
    </div>
  </form>
</div>

<div class="centraliza-botao">
  <button
    type="button"
    class="btn btn-success botao-exibir"
    *ngIf="!show"
    (click)="showFormulario()"
  >
    Mostrar Formulário
  </button>
</div>

<div class="resultados-formulario">
  <div class="inicio-formulario">
    <div class="grid-display">
      <h5>Nome</h5>
      <h5>Cidade</h5>
      <h5>Estado</h5>
    </div>
  </div>

  <div *ngIf="informacoes">
    <div class="list-group">
      <div
        class="list-group-item list-group-item-action grid-display"
        *ngFor="let info of informacoes; let i = index"
      >
        <p>{{ info.nome }}</p>
        <p>{{ info.cidade }}</p>
        <p>{{ info.estado }}</p>
        <div class="botao-container">
          <button class="botao-excluir" (click)="excluirItem(i)">X</button>
          <button class="botao-editar" (click)="editarItem(i)">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
